<template>
	<!-- <pre>
		{{ $data|json }}
	</pre> -->
	<form @submit.prevent=''>
	  <div class="form-group">
	    <label for="email">Search Text</label>
	    <input type="text" class="form-control" id="text_query" v-model='filter.text_query' placeholder="Free Text">
	  </div>
	  <div class="form-group">
	    <label for="email">Wifi</label>
	    <select v-model="filter.wifi">
		  <option value=2 selected>Both</option>
		  <option value=1>Yes</option>
		  <option value=0>No</option>
		</select>
	  </div>
	  <button type="submit" class="btn btn-default" @click='submitQuery' v-show='filter.text_query || filter.wifi!=2'>Submit</button>
	</form>
	<ul class='list-group item-list'>
		<li v-for="item in list">
			<strong>{{ item.name }}</strong>
		</li>
	</ul>
	<button type="button" v-show='loadMore' @click='handleScroll'>Next</button>		
</template>

<script>
	export default{
		data(){
			return {
				loadMore:true,
				list:[],
				pagination:{
					current_page:1,
					last_page:1,
					next_page:1
				},
				filter:{
					text_query:''
				},
				filterOn:false
			};
		},
		created(){
			window.addEventListener('scroll', this.handleScroll);
			this.fetchHotels();
		},
		computed:{
			loadMore(){
				return this.pagination.last_page!=this.pagination.current_page
			}
		},
		methods:{
			fetchHotels(){
				// let url=`hotel?page=${this.pagination.next_page}`;
				var resource = this.$resource('home/search');
				resource.save({page:this.pagination.next_page,filter:this.filter,filterOn:this.filterOn}).then((response) => {
		          	// console.log(response);
		          	this.pagination.last_page=response.data.last_page;
		          	this.pagination.current_page=response.data.current_page;
		          	this.pagination.next_page=this.pagination.current_page+1;
		          	this.pagination.nextpage_url=response.data.next_page_url;
		          	if(response.data.current_page==1){
		          		this.list=response.data.data;
		          	}
		          	else{
		          		var newData=response.data.data;
		          		newData.forEach(res=>this.list.push(res));
		          	}
		      	});
			},
			handleScroll () {
				if (document.body.scrollHeight == document.body.scrollTop + window.innerHeight && this.loadMore) {
			    	this.fetchHotels();
			    }
			},
			submitQuery(){
				this.pagination.next_page=1;
				this.filterOn=true;
				this.list=[];
				this.fetchHotels();
			},
			clearFilter(){
				this.filterOn=false;
			}
		}
	}
</script>