.Alert {
  position: relative;
  background: #ddd;
  border: 1px solid #c4c4c4;
  padding: 1em;
}
.Alert--Success {
    background: lighten(green, 30%);
    border: 1px solid lighten(green, 70%);
}
.Alert--Error {
    background: lighten(red, 30%);
    border: 1px solid lighten(red, 70%);
}
.Alert--Close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-weight: bold;
  cursor: pointer;
}
