
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/Alert";


ul.item-list{
  overflow-y: auto;
  height: 100%;
  li{
    padding: 1em;
    background: #e3e3e3;
    border:1px solid lighten(#e3e3e3, 10%);
  }
}
